@inject OrchardCore.IOrchardHelper Orchard

@{
    var education = await Orchard.GetContentItemByHandleAsync("alias:education");
}

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">@education.Content.TitlePart.Title</h2>
        @foreach (var school in education.Content.BagPart.ContentItems)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@school.EducationPart.SchoolName.Text</h3>
                    <div class="subheading mb-3">@school.EducationPart.ProgramName.Text</div>
                    <div>@school.EducationPart.ProgramName.Text</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@school.EducationPart.Date.Text</span></div>
            </div>
        }
    </div>
</section>