<!-- Education-->

@inject OrchardCore.IOrchardHelper Orchard

@{
    var alias = "alias:education-" + Orchard.CultureName();
    var education = await Orchard.GetContentItemByHandleAsync(alias);
}

<section class="resume-section parallax" id="education" style="background-image: url(@Orchard.AssetUrl((string) education.Content.Image.Image.Paths[0]));" >
    
    <div class="resume-section-content">
        <h2 class="mb-5">@education.Content.TitlePart.Title</h2>

        @foreach (var school in education.Content.BagPart.ContentItems)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <div class="row">
                        <div class="col-md-2 show_only_desktop" style="padding-right: 3%">
                            <div class="border_image">
                                <img class="rounded-circle img-fluid height-100" src="@Orchard.AssetUrl((string) school.Image.Image.Paths[0])" width="100%">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="mb-0">@Html.Raw(school.SchoolDescription.ProgramName.Html)</h3>
                            <div class="subheading mb-3">@Html.Raw(school.SchoolDescription.SchoolName.Html)</div>
                            <p>@Html.Raw(school.SchoolDescription.Description.Html)</p>
                        </div>
                        <div class="col-md-2">
                            <span class="text-primary">@Html.Raw(school.SchoolDescription.Date.Html)</span>
                        </div>
                    </div>
                </div>
                
            </div>
        }
    </div>
</section>