@inject OrchardCore.IOrchardHelper Orchard

@{
    var alias = "alias:implications-" + Orchard.CultureName();
    var implications = await Orchard.GetContentItemByHandleAsync(alias);
}

 <section class="resume-section parallax" id="implications" style="background-image: url(@Orchard.AssetUrl((string) implications.Content.Image.Image.Paths[0]));">
    <div class="resume-section-content">
        <h2 class="mb-5">@implications.Content.TitlePart.Title</h2>

        @foreach (var implication in implications.Content.BagPart.ContentItems)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <div class="row">
                        <div class="col-md-2 show_only_desktop" style="padding-right: 3%">
                            <div class="border_image">
                                <img class="rounded-circle img-fluid height-100" src="@Orchard.AssetUrl((string) implication.Image.Image.Paths[0])" width="100%">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="mb-0">@Html.Raw(implication.ImplicationDescription.Title.Html)</h3>
                            <div class="subheading mb-3">@Html.Raw(implication.ImplicationDescription.EventName.Html)</div>
                            <p>@Html.Raw(implication.ImplicationDescription.Description.Html)</p>
                        </div>
                        <div class="col-md-2">
                            <span class="text-primary">@Html.Raw(implication.ImplicationDescription.Date.Html)</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>